/*body
{
    color: red;
}*/ 

.background-red
{
    background-color: red;
}

.background-green
{
    background-color: green;
}

.background-blue
{
    background-color: blue;
}

.background-pink
{
    background-color: pink;
}